<p class="about-us">About us</p>
<section class="about-section">
  <p class="our-story">Our Story</p>
  <div class="main-div">
    <div class="img-div">
      <img
        src="assets/imgs/about-us-main.jpeg"
        alt="image of founder"
        class="image-responsive"
      />
    </div>
    <div class="text-div">
      We are not just a business, we’re a family business, with a craft that has
      been improved and perfected over the course of 2 generations, our origins
      date back to the early 1800's. Founder Mzamo Dikweni, who passed a legacy
      to his son Morris Dikweni, due to unforeseen circumstances business had to
      closed in 1997 <br />
      <br />
      Over 20 years later in 2022 we picked up where we left off to carry on a
      legacy, that couldn’t be abandoned. <br />
      <br />
      Congratulations you’re officially all caught up, join us along this story
      rich with ups and downs, and an even richer obsession with all things
      meat.
    </div>
  </div>
</section>
