<p class="about-us">About us</p>
<section class="about-section">
  <p class="our-story">Our Story</p>
  <div class="main-div">
    <div class="img-div">
      <img
        src="assets/imgs/about-us-main.jpeg"
        alt="image of founder"
        class="image-responsive"
      />
    </div>
    <div class="text-div">
      We’re more than just a business; we’re a family tradition, with a craft
      honed and perfected over two generations. Our roots trace back to the
      early 1800s, when founder Mzamo Dikweni laid the foundation, passing the
      legacy to his son, Morris Dikweni. Due to unforeseen circumstances, the
      business closed in 1997, but thanks to overwhelming demand, it has been
      revived. <br />
      <br />
      In 2022, over 20 years later, we resumed our journey to continue a legacy
      that could never be forgotten. <br />
      <br />
      Congratulations, you're now fully up to speed! Join us on this story
      filled with highs and lows, and an even greater passion for all things
      meat.
    </div>
  </div>
</section>
