<div class="cart-header">
  <p class="cart-p">Cart</p>
</div>

<section class="cart-section">
  <div class="empty-cart align-self-center d-flex flex-column" *ngIf="!cartEls">
    <p class="align-self-center">your cart is empty</p>
    <a
      href="#"
      style="
        color: black;
        background-color: aliceblue;
        padding: 10px;
        text-decoration: none;
      "
      >Go back to homePage</a
    >
  </div>

  <div *ngIf="cartEls" class="cart-table-wrapper">
    <table>
      <tr>
        <th></th>
        <th>PRODUCT</th>
        <th>PRICE</th>
        <th>QUANTITY</th>
        <th>SUBTOTAL</th>
      </tr>
      <tr *ngFor="let item of cartEls">
        <td>
          <img src="{{ item.imgUrl }}" alt="image of {{ item.name }}" />
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>quantity</td>
        <td>0.00</td>
      </tr>
    </table>
  </div>
</section>
