.hero-bg {
  height: 80rem;
  background-image: url("src/assets/imgs/hero-background-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  float: top;
  /* position: relative; */
}

app-navbar {
  float: top;
  /* opacity: 0.3; */
  /* position: fixed; */
  /* top: 2; */
}
@media (max-width: 600px) {
  .hero-bg {
    background-image: url("src/assets/imgs/hero-background-2.jpg");
    background-size: 70rem;
    background-position-y: top;
  }
}
