<div class="img-div">
  <P>Get In Touch</P>
  <img src="assets/imgs/contact-bg.jpg" alt="" />
</div>
<section class="contact-section">
  <div class="email-phone-div">
    <p>Email: <span class="email-span">dikwenit@gmail.com</span></p>
    <p>Phone: 0789665528</p>
  </div>
  <div class="main-contact-div">
    <div class="contact-details-div">
      <h5>Enter Your Details</h5>
      <form name="mhlozayo-contact-form" netlify>
        <div>
          <input
            name="full-name"
            class="input"
            id="full-name"
            type="text"
            placeholder="Full Name"
          />
        </div>
        <div>
          <input
            name="Email-Adress"
            class="input"
            id="Email-Adress"
            type="Email Adress"
            placeholder="Email Adress"
          />
        </div>
        <div>
          <input
            name="phone-number"
            class="input"
            id="Phone-Number"
            type="text"
            placeholder="Phone Number"
          />
        </div>
      </form>
    </div>
    <div class="message-div">
      <h5>Get In Touch</h5>
      <div>
        <input
          class="message-input"
          id="full-name"
          type="text"
          placeholder="Leave Us a Message..."
        />
        <button class="btn btn-send">Send</button>
      </div>
    </div>
  </div>
</section>
